@use '../../../styles/variables.scss' as *;

.button-home {
    color: $darkRed;
    font-family: $fontFamily;
    font-weight: $fontWeight;
    font-size: 20px;
    letter-spacing: 0.1rem;
    line-height: 1.5;
    padding-top: 30px;
    text-align: center;
    white-space: nowrap;
    transition: transform 0.3s, font-weight 0.3s;
    text-decoration: none;

    &:hover {
        transform: scale(1.1);
        font-weight: 500;
    }
}