@use '../../styles/variables.scss' as *;

form {
    display: flex;
    flex-direction: column;

    .label {
        padding: 10px 0;
        color: $fontColor;
    }

    .input {
        border: none;
        padding: 10px 0;
        margin-bottom: 20px;
        background:none;
        border-bottom: $fontColor 1px solid;
        color: $fontColor;
        font-family: $fontFamily;

        &::placeholder{
            color: $fontColor;
            font-family: $fontFamily;
            opacity: 0.7;
        }

        &:focus-visible{
            outline: none;
        }
    }

    #message {
        resize: none;
    }
}
