@use '../../styles/variables.scss' as *;

.fav-card {
    height: 200px;
    background-color: $fontColor;
    overflow: hidden;
    border-radius: 15px;
    display: flex;
    padding-right: 40px;
    color: $darkRed;
    transition: transform 0.3s;

    .fav-card-content {
        display: flex;
        flex-direction: column;
        padding: 20px;

        .fav-card-text {
            display: flex;
            align-items: center;
            justify-content: space-between;
            text-overflow: ellipsis;
        }
    }

    .fav-card-icon {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    &:hover {
        cursor: pointer;
        transform: scale(1.03);
    }
}

@media (max-width: 768px) {
    .fav-card {
        padding-right: 20px;
    }
}

@media (max-width: 480px) {
    .fav-card {
        padding-right: 0;
    }

    .fav-card-content {
        justify-content: space-around;
    }
    
    .fav-card img{
        display: none;
    }

    .fav-card-text {
        gap: 10px;

        .fav-title {
            margin: 0;
        }
    }

    .fav-card-icon p {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}