$darkRed: #b80909;
$fontColor: #ffffe6;
$fontWeight: 400;
$fontFamily:'Quicksand', sans-serif;


.home {
    // width: 100%;
    font-family: $fontFamily;
    font-weight: $fontWeight;

    .home-first {
        padding: 100px 0px;
        background-color: $darkRed;
        background-image: url(../assets/images/back16.JPG);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;


        h1, .subtitle {
            color: $darkRed;
            text-align: center;
            font-weight: 600;
            font-size: 32px;
        }

        h1 {
            font-family: "Modak", serif;
            font-size: 96px;
            font-weight: 100;
            margin: 0;
        }
    }

    .home-second {
        padding: 60px 0;
        background-color: $darkRed;
        display: flex;
        justify-content: center;
    }

    .home-third {
        display: flex;
        align-items: center;
        background-color: #ffffe6;
        max-height: 560px;
        overflow: hidden;

        img {
            width: 50%;
        }

        .welcome-banner {
            display: block;
            text-align: center;
            letter-spacing: 0.1rem;
            line-height: 1.5;
            color: $darkRed;
            padding: 0px 50px;
            width: calc(50% - 100px);
        }

        .banner-text {
            text-align: center;
            padding: 50px 0;
        }
    }

    .home-fourth {
        background-color: $darkRed;
        display: flex;
        max-height: 480px;
        overflow: hidden;
        align-items: center;
        justify-content: space-between;

        img {
            width: 50%;
        }

        .form{
            display: block;
            padding: 0 50px;
            width: calc(50% - 100px);
        }
    }

    .section-light {
        padding: 20px 0;
        background-color: $fontColor;
    }

    .marquee {
        overflow: hidden;
        width: 100%;
        display: flex;
        align-items: center;
    }

    .track {
        display: flex;
        width: 200%;
        animation: marquee 15s linear infinite;
        will-change: transform;
        gap: 60px;
        align-items: center;
    }

    .content {
        display: flex;
        white-space: nowrap;
        color: $darkRed;
        gap: 60px; 
    }

    .hroom {
        font-family: "Modak", serif;
        font-size: 28px;
        margin: 0 0.5rem;
    }

    @keyframes marquee {
        from { transform: translateX(0); }
        to   { transform: translateX(-50%); }
    }

    .home-fifth {
        height: 350px;
        overflow: hidden;

        img {
            width: 25%;
            height: 100%;
        }
    }
}

@media (max-width: 768px) {
    .home {
        .home-fifth {
            height: 250px;
        }
    }
}

@media (max-width: 480px) {
    .home {
        .home-first{
            padding: 100px 20px;
            
            h1 {
                font-size: 80px;
            }
        }

        .home-third {
            flex-direction: column;
            max-height: min-content;
            padding: 15px 40px 20px;

            img {
                border-radius: 15px;
                width: 100%;
                height: 250px;
            }

            .welcome-banner {
                width: 100%;
            }
        }

        .home-fourth {
            flex-direction: column-reverse;
            align-items: center;

            img {
                width: 100%;
            }

            .form {
                width: 90%;
                padding: 15px 0;
            }
        }

        .home-fifth {
            height: 110px;
        }
    }
}