@use '../../../styles/variables.scss' as *;

.button-form {
    padding: 10px;
    background-color: $darkRed;
    border: $fontColor 1px solid;
    width: 50%;
    margin: 20px auto 0;
    font-family: $fontFamily;
    color: $fontColor;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 400;
    transition: transform 0.3s, font-weight 0.3s, color 0.3s, background-color 0.3s, border 0.3s;
    text-decoration: none;

    &:hover{
        cursor: pointer;
        color: $darkRed;
        border: $darkRed 1px solid;
        background-color: $fontColor;
        font-weight: 500;
        transform: scale(1.1);
    }
}