.carousel-wrapper {
    width: 100%;
    padding: 0 80px;
    overflow: hidden;
    margin: 0 auto;
}

.swiper {
    padding: 0;
    overflow: hidden;

    --swiper-pagination-color: #b80909;
}

.swiper-slide {
  display: flex;
  justify-content: center;
}


@media (max-width: 480px) {
  .carousel-wrapper {
    padding: 0 20px;
  }
}