$darkRed: #b80909;
$fontColor: #ffffe6;
$fontWeight: 400;
$fontFamily: 'Quicksand', sans-serif;

.explore-recipes {
    color: $darkRed;
    font-family: $fontFamily;
    font-weight: 600;
    transition: transform 0.3s, background-color 0.3s, color 0.3s;
    background-color: $fontColor;
    border: 1px solid $fontColor;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 16px;
    white-space: nowrap;
    text-decoration: none;

    &:hover {
        transform: scale(1.05);
        cursor: pointer;
        background-color: $darkRed;
        color: $fontColor;
    }
}