@use '../../styles/variables.scss' as *;


footer {
    background-color: $darkRed;
    font-family: $fontFamily;
}

.footer-main {
    display: flex;
    padding: 20px 80px;
    justify-content: space-between;
    align-items: center;
}

.logo-slogan {
    display: flex;
    flex-direction: column;
    text-align: start;

    span {
        color: $fontColor;
        font-size: 12px;
        letter-spacing: 0.05rem;
    }
}

.footer-logo {
    padding: 0;
    text-align: start;
}

.links {
    display: block;
}

.categories {
    display: flex;
    gap: 30px;

    a {
        padding: 0;
        font-family: $fontFamily;
        text-decoration: none;
        color: $fontColor;
        font-size: 18px;
        transition: transform 0.3s, font-weight 0.3s;

        &:hover {
            transform: scale(1.1);
            font-weight: 500;
        }
    }
}

.social-media {
    padding-top: 20px;
    display: flex;
    justify-content: end;
    gap: 30px;

    a {
        padding: 0;
    }

    .icon {
        width: 32px;
        height: 32px;
    }
}



.copyright {
    display: flex;
    justify-content: end;
    border-top: 1px solid $fontColor;
    padding: 15px 0;
    color: $fontColor;
    font-size: 12px;
    letter-spacing: 0.05rem;

    span {
        padding-right: 80px;
    }
}

@media (max-width: 480px){
    .footer-main {
        flex-direction: column;
    }

    .logo-slogan {
        text-align: center;
        white-space: nowrap;
        align-items: center;
        padding-bottom: 20px;
    }

    .categories{
        flex-direction: column;
        border-bottom: 1px solid $fontColor; 
        border-top: 1px solid $fontColor;  
        padding: 20px 0;
        text-align: center;
    }

    .social-media .icon {
        width: 24px;
        height: 24px;
    }

    .copyright {
        justify-content: center;

        span {
            padding: 0 10px;
        }
    }
}