@use '../../styles/variables.scss' as *;

main {
    background-color:$darkRed;
}

.banner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: $fontColor;
    font-family: $fontFamily;
    color: $darkRed;
    display: flex;
    border-top: 1px solid $darkRed;
    margin-bottom: 20px;

    .recipes-header {
        display: flex;
        justify-content: center;
        font-size: 24px;
        padding: 0 80px;
    }

    .search-filters {
        display: flex;
        padding: 20px 180px 30px;
        justify-content: space-between;
    }
}

.recipes-list {
    padding: 15px 80px;
    display: grid;
    column-gap: 50px;
    row-gap: 40px;
    grid-template-columns: repeat(3, 1fr);
}

.pagination {
    display: flex;
    padding: 20px 80px 30px;
    justify-content: center;
    align-items: center;
    color: $fontColor;
    font-family: $fontFamily;
    gap: 25px;
    border-bottom: 1px $fontColor solid;

    button {
        padding: 5px 15px;
        font-family: $fontFamily;
        font-size: 16px;
        color: $fontColor;
        background-color: $darkRed;
        border-radius: 15px;
        border: 1px solid $fontColor;
        transition: background-color 0.3s, color 0.3s;

        &:enabled {
            &:hover {
                background-color: $fontColor;
                color: $darkRed;
                cursor: pointer;
            }
        }

        &:disabled {
            &:hover {
                cursor: not-allowed;
            }
        }
    }
}

.empty {
    border-bottom: 1px $fontColor solid;
    display: block;
    padding: 0px 80px;

    img {
        display: block;
        margin: auto;
        width: 200px;
        height: 200px;
    }

    .empty-state {
        color: $fontColor;
        font-family: $fontFamily;
        text-align: center;
        margin: 0;
        padding-bottom: 30px;
        min-width: 200px;
    }
}

@media (max-width: 768px){
    .banner {
        .search-filters{
            padding: 20px 80px;
            gap: 15px;
            flex-direction: column;
        }
    }
}

@media (max-width: 480px){
    .banner {
        .search-filters {
            padding: 20px 40px;
            flex-direction: column;
        }
    }
    .recipes-list{
        padding: 15px 60px;
        grid-template-columns: repeat(1, 1fr);
    }

    .pagination {
        padding: 20px 60px 30px;

        span {
            text-align: center;
            white-space: nowrap;
        }
    }

}
