@use '../../styles/variables.scss' as *;

.search {
    display: flex;
    width: 100%;

    .search-input {
        min-width: 85%;
        padding: 10px;
        border-radius: 20px;
        background-color: $fontColor;
        color: $darkRed;
        border: 1px solid $darkRed;
        font-family: $fontFamily;

        &::placeholder {
            color: $darkRed;
            font-family: $fontFamily;
            opacity: 0.7;
        }

        &:focus-visible {
            outline: none;
        }
    }

    .filters {
        display: flex;
        justify-content: space-between;
        gap: 10px;

        select {
            background-color: $fontColor;
            color: $darkRed;
            border: $darkRed 1px solid;
            font-family: $fontFamily;
            padding: 10px 20px;
            border-radius: 20px;

            &:focus-visible {
                outline: $darkRed;
            }
        }

    }
}

@media (max-width: 768px) {
    .search {
        .search-input {
            width: 100%;
            padding: 10px 20px;
        }
    }
}

@media (max-width: 480px) {
    .search {
        .search-input {
            width: 100%;
            padding: 10px 20px;
        }
    }
}