$darkRed: #b80909;
$fontColor: #ffffe6;
$fontWeight: 400;
$fontFamily: 'Quicksand', sans-serif;

.snackbar {
  position: fixed;
  top: 16px;
  left: 50%;
  transform: translateX(-50%) translateY(20px);
  opacity: 0;
  background-color: $fontColor;
  color: $darkRed;
  border: 1px solid $darkRed;
  padding: 12px 20px;
  border-radius: 6px;
  font-size: 14px;
  z-index: 1000;

  transition: opacity 0.3s ease, transform 0.3s ease;
}

.snackbar.show {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}

@media (max-width: 480px){
  .snackbar {
    left: 36%;
  }
}