$darkRed: #b80909;
$fontColor: #ffffe6;
$fontWeight: 400;
$fontFamily:'Quicksand', sans-serif;

.recipes-page-card {
    border-radius: 15px;
    overflow: hidden;
    font-family: $fontFamily;
    color: $darkRed;
    border: 1px solid $darkRed;
    background-color: $fontColor;
    transition: transform 0.5s;

    &:hover {
        transform: scale(1.03);
        cursor: pointer;
    }

    &__image {
        height: 60%;

        img {
            height: 100%;
            width: 100%;
        }
    }

    &__content {
        display: flex;
        padding: 25px 15px;
        height: calc(40% - 50px);
        justify-content: space-around;    }

    &__text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__title {
        margin: 0;
        width: 80%;
        white-space: wrap;
        overflow:visible
    }

    &__description {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .favourite-icon {
        align-items: center;
        padding: 0 15px 0 10px;
    }
}

@media (max-width: 768px){
    .recipes-page-card {

        &__content{
            padding: 15px;
            font-size: 12px;
            justify-content: space-between;
            height: calc(40% - 30px);
            margin-bottom: 15px;
        }

        &__title{
            width: 100%;
        }

        &__description {
            display: none;
        }

        .favourite-icon {
            padding: 0 0 0 10px;

            .fav-icon {
                width: 30px;
                height: 30px;
            }
        }
    }
}

@media (max-width: 480px){
    .recipes-page-card__image {
        height: 65%;
    }
    .recipes-page-card__content {
        margin-bottom: 0;
    }
}